<app-nav-bar></app-nav-bar>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 d-flex flex-column p-3">
            <input type="text" pInputText class="form-control mb-3" placeholder="Search" (input)="onFilter($event)" />
            <p-table #dt [value]="patients" selectionMode="single" [(selection)]="selectedPatients" [paginator]="true" [rows]="8" [sortField]="'name'" [sortOrder]="1">
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">Name <p-sortIcon field="name"></p-sortIcon></th>
                        <th pSortableColumn="age">Age <p-sortIcon field="age"></p-sortIcon></th>
                        <th pSortableColumn="alerts">Alerts <p-sortIcon field="alerts"></p-sortIcon></th>
                        <th pSortableColumn="lastStatus">Last Status <p-sortIcon field="lastStatus"></p-sortIcon></th>
                        <th pSortableColumn="lastSession">Last Session <p-sortIcon field="lastSession"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-patient>
                    <tr [pSelectableRow]="patient">
                        <td>{{ patient.name }}</td>
                        <td>{{ patient.age }}</td>
                        <td>{{ patient.alerts }}</td>
                        <td>{{ patient.lastStatus }}</td>
                        <td>{{ patient.lastSession }}</td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <!-- Right Panel -->
        <div class="col-md-6 d-flex flex-column">
            <!-- Tabbed Card -->
            <div class="flex-grow-1 p-3">
                <p-tabView [activeIndex]="activeIndex">
                    <p-tabPanel header="Patient Data">
                        <div class="border p-3">Patient Data Content</div>
                    </p-tabPanel>
                    <p-tabPanel header="New Data">
                        <div class="border p-3">New Data Content</div>
                    </p-tabPanel>
                </p-tabView>
            </div>

            <!-- Notifications Section -->
            <div class="card  p-3 border" style="height: 20%;">
                <div class="card-body">
                    <app-notifications></app-notifications>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--<footer>-->
<!--    <p>footer</p>-->
<!--</footer>-->