<div *ngIf="selection === 1">
  <div class="text-center">
    <img src="assets/photos/Dialysis%20Measurements%20Over%20Last%207%20Sessions.png" alt="Dialysis Measurements Over Last 7 Sessions" class="img-fluid">
  </div>
</div>

<div *ngIf="selection === 2">
  <div class="text-center">
    <img src="assets/photos/Blood%20Pressure%20Trend%20Over%20Last%207%20Sessions.png" alt="Dialysis Measurements Over Last 7 Sessions" class="img-fluid">
  </div>
</div>

<!--<div class="text-center">-->
<!--  <img src="assets/photos/Blood%20Pressure%20Trend%20Over%20Last%207%20Sessions.png" alt="Dialysis Measurements Over Last 7 Sessions" class="img-fluid">-->
<!--</div>-->
