<div class="card">
    <h2>Measurements</h2>
    <form *ngIf="selection === 'pre'" [formGroup]="preDialysisData">
        <div class="p-fluid">
            <div class="p-field">
                <label for="preDialysisWeight">Pre-Dialysis Weight</label>
                <input id="preDialysisWeight" type="number" pInputText formControlName="preDialysisWeight" />
            </div>
            <div class="p-field">
                <label for="effluentVolume">Effluent Volume</label>
                <input id="effluentVolume" type="number" pInputText formControlName="effluentVolume" />
            </div>
            <div class="p-field">
                <label for="sessionDuration">Session Duration</label>
                <input id="sessionDuration" type="number" pInputText formControlName="sessionDuration" />
            </div>
            <div class="p-field">
                <label for="dailyProteinIntake">Daily Protein Intake</label>
                <input id="dailyProteinIntake" type="number" pInputText formControlName="dailyProteinIntake" />
            </div>
            <div class="p-field">
                <label for="bloodPressureBefore">Blood Pressure Before</label>
                <input id="bloodPressureBefore" type="number" pInputText formControlName="bloodPressureBefore" />
            </div>
        </div>
    </form>

    <form *ngIf="selection === 'post'" [formGroup]="postDialysisData">
        <div class="p-fluid">
            <div class="p-field">
                <label for="preDialysisWeight">Pre-Dialysis Weight</label>
                <input id="preDialysisWeight" type="number" pInputText formControlName="preDialysisWeight" />
            </div>
            <div class="p-field">
                <label for="postDialysisWeight">Post-Dialysis Weight</label>
                <input id="postDialysisWeight" type="number" pInputText formControlName="postDialysisWeight" />
            </div>
            <div class="p-field">
                <label for="effluentVolume">Effluent Volume</label>
                <input id="effluentVolume" type="number" pInputText formControlName="effluentVolume" />
            </div>
            <div class="p-field">
                <label for="sessionDuration">Session Duration</label>
                <input id="sessionDuration" type="number" pInputText formControlName="sessionDuration" />
            </div>
            <div class="p-field">
                <label for="bloodPressureAfter">Blood Pressure After</label>
                <input id="bloodPressureAfter" type="number" pInputText formControlName="bloodPressureAfter" />
            </div>
        </div>
    </form>
</div>