<app-nav-bar></app-nav-bar>
<div class="d-flex flex-column min-vh-100">
    <div class="container flex-grow-1">
        <div class="row mb-2 mt-2">
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body">
                        <app-measurements [selection]="'pre'"></app-measurements>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card h-100">
                    <div class="card-body p-0 d-flex flex-column">
                        <app-notifications></app-notifications>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid my-4">
            <div class="row mb-2">
                <div class="col-12">
                    <div class="card h-100">
                        <div class="card-body">
                            <p-tabView>
                                <p-tabPanel header="Blood Preasure">
                                    <app-blood-pressure></app-blood-pressure>
                                </p-tabPanel>
                                <p-tabPanel header="Dialysis Data">
                                    <app-dialysis-measurements-graph></app-dialysis-measurements-graph>
                                </p-tabPanel>
                                <p-tabPanel header="Weight">
                                    <app-weight></app-weight>
                                </p-tabPanel>
                                <p-tabPanel header="Protein">
                                    <app-protein></app-protein>
                                </p-tabPanel>
                            </p-tabView>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
